* {
  margin: 0;
  padding: 0;
}
.content_MainPage {
  position: relative;
  height: 800px;
}
header {
  /* position: absolute; */
  /* width: 1068px;
  height: 46px;
  left: 372px; */
  /* top: 28px; */
  /* display: flex;
  justify-content: space-between; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.line {
  position: absolute;
  width: 1068px;
  height: 0px;
  /* left: 372px; */
  /* top: 74px; */
  top: 9%;
  left: 26%;
  border: 0.3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.p_shope_MainPage {
  color: #ffffff;
  position: absolute;
  width: 37px;
  height: 16px;
  /* left: 436px; */
  /* top: 40px; */
  top: 5%;
  left: 30%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  cursor: pointer;
}
.p_travel_MainPage {
  position: absolute;
  width: 100px;
  height: 16px;
  /* left: 493px; */
  left: 35%;
  top: 5%;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}
.p_admin_MainPage {
  position: absolute;
  width: 119px;
  height: 16px;
  /* left: 1080px; */
  /* top: 36px; */
  top: 5%;
  left: 75%;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}
.ramka4 {
  position: absolute;
  width: 32px;
  height: 24px;
  /* left: 1070px;
  top: 40px; */
  top: 5%;
  left: 74%;
}
.ramka3 {
  position: absolute;
  width: 32px;
  height: 24px;
  /* left: 1175px;
  top: 28px; */
  top: 4%;
  left: 82%;
}
.p_cabinet_MainPage {
  position: absolute;
  width: 125px;
  height: 16px;
  /* left: 1235px; */
  /* top: 37px; */
  top: 5%;
  left: 86%;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
}
.ramka4_cab {
  position: absolute;
  width: 32px;
  height: 24px;
  /* left: 1220px; */
  /* top: 40px; */
  top: 5%;
  left: 85%;
}
.ramka3_cab {
  position: absolute;
  width: 32px;
  height: 24px;
  left: 1336px;
  /* top: 28px; */
  top: 4%;
  left: 93%;
}
.img_content_MainPage {
  /* position: relative; */
  width: 100%;
  height: fit-content;
  /* margin-bottom: 0; */
}
.h1_MainPage {
  position: absolute;
  /* top: 214px; */
  /* left: 72px; */
  top: 25%;
  left: 5%;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
}
.h3_MainPage {
  position: absolute;
  width: 465px;
  height: 32px;
  /* left: 75px; */
  left: 5%;
  /* top: 298px; */
  top: 37%;
  color: #ffffff;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
}
/* .buttons_MainPage {
  position: absolute;
  width: 402px;
  height: 57px;
  left: 75px;
  top: 358px;
} */
.btn_mountains_MainPage {
  position: absolute;
  width: 176px;
  height: 56px;
  /* left: 75px; */
  left: 5%;
  top: 44%;
  /* top: 358px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgba(255, 0, 0, 0.35);
  /* filter: blur(2px); */
  border-style: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.btn_mountains_MainPage:hover {
  background: rgba(255, 0, 0, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.btn_shop_MainPage {
  position: absolute;
  width: 176px;
  height: 56px;
  /* left: 301px; */
  /* top: 359px; */
  top: 44%;
  left: 20%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(5, 0, 255, 0.35);
  /* filter: blur(2px); */
  border-style: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.btn_shop_MainPage:hover {
  background: rgba(5, 0, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.insta {
  position: absolute;
  width: 24px;
  height: 24px;
  /* left: 1324px; */
  /* top: 257px; */
  top: 32%;
  left: 92%;
}
.telega {
  position: absolute;
  width: 24px;
  height: 24px;
  /* left: 1324px; */
  /* top: 313px; */
  left: 92%;
  top: 39%;
}
.whats {
  position: absolute;
  width: 24px;
  height: 24px;
  /* left: 1324px; */
  /* top: 369px; */
  left: 92%;
  top: 46%;
}
@media (max-width: 1024px) {
  .content_MainPage {
    width: 100%;
    height: fit-content;
  }
  .img_content_MainPage {
    width: 1024px;
    height: 800px;
  }
  .line {
    left: 32%;
    width: 700px;
  }
  .p_shope_MainPage {
    left: 36%;
  }
  .p_travel_MainPage {
    left: 42%;
  }
  .p_admin_MainPage {
    left: 71%;
  }
  .ramka4 {
    left: 70%;
  }
  .ramka3 {
    left: 81%;
  }
  .p_cabinet_MainPage {
    left: 86%;
  }
  .ramka3_cab {
    left: 96%;
  }
  .btn_shop_MainPage {
    left: 26%;
  }
}
@media (max-width: 768px) {
  .img_content_MainPage {
    width: 768px;
    height: 800px;
  }
  .line {
    left: 20%;
    width: 620px;
  }
  .p_shope_MainPage {
    left: 24%;
    font-size: 15px;
  }
  .p_travel_MainPage {
    left: 33%;
    font-size: 15px;
  }
  .p_admin_MainPage {
    left: 68%;
    font-size: 15px;
  }
  .ramka3 {
    left: 78%;
  }
  .ramka4 {
    left: 66%;
  }
  .p_cabinet_MainPage {
    left: 84%;
    font-size: 15px;
  }
  .ramka3_cab {
    left: 95%;
  }
  .ramka4_cab {
    left: 83%;
  }
  .h1_MainPage {
    font-size: 54px;
  }
  .h3_MainPage {
    font-size: 24px;
  }
  .btn_mountains_MainPage {
    width: 150px;
  }
  .btn_shop_MainPage {
    width: 150px;
    left: 28%;
  }
}
@media (max-width: 425px) {
  .img_content_MainPage {
    width: 425px;
    height: 800px;
  }
}
.centerPage {
  position: relative;
  margin: 0;
  padding: 0;
}
.main_img_center {
  width: 100%;
  height: fit-content;
}
.h3_center {
  position: absolute;
  width: 220px;
  height: 128px;
  left: 5%;
  top: 5%;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
}
.h6_center {
  position: absolute;
  width: 240px;
  height: 80px;
  left: 20%;
  top: 8%;
  color: rgba(8, 8, 8, 0.7);
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.tours {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 80%;
  top: 7%;
  display: flex;
  justify-content: space-between;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.line9 {
  width: 300px;
  position: absolute;
  top: 9%;
  left: 75%;
}
.cards_center {
  display: flex;
  position: absolute;
  top: 18%;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer;
}
.img_cards_center {
  width: 300px;
}
.imgLine_center {
  display: flex;
  position: relative;
  top: 85%;
  position: absolute;
}
.p_cards_center {
  display: flex;
  position: relative;
  top: 85%;
  position: absolute;
  align-items: center;
  color: #ffffff;
  padding-left: 7%;
}
.p__cards_center {
  display: flex;
  position: relative;
  top: 85%;
  position: absolute;
  align-items: center;
  color: #ffffff;
  padding-left: 7%;
}
.info_cards {
  display: none;
  color: #ffffff;
  align-items: center;
}
/* .cards_center:hover .info_cards {
  display: block;
} */

.title_center {
  position: absolute;
  top: 56%;
  left: 3%;
  color: #ffffff;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
.title_center_second {
  position: absolute;
  top: 60%;
  left: 3%;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.5);
}
.text__center {
  position: absolute;
  width: 632px;
  height: 260px;
  top: 66%;
  left: 3%;
}
.text__center_first {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4%;
}
.text__center_second {
  width: 578px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.map {
  display: flex;
  position: absolute;
  top: 62%;
  left: 55%;
}
/* #big {
  width: 430px;
} */
#small {
  position: absolute;
  top: 16%;
  left: 64%;
}
.colortext {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1211px) {
  .centerPage {
    width: 100%;
    height: fit-content;
  }
  .main_img_center {
    width: 1211px;
    height: 800px;
  }
  .h3_center {
    font-size: 50px;
  }
  .h6_center {
    font-size: 14px;
    left: 25%;
    top: 10%;
  }
  .tours {
    left: 70%;
    top: 10%;
  }
  .line9 {
    top: 14%;
    left: 65%;
  }
  .cards_center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 22%;
  }

  .img_cards_center {
    width: 200px;
  }
  .imgLine_center {
    width: 200px;
  }
  .p_cards_center {
    padding-left: 5%;
    font-size: 14px;
  }
  .p__cards_center {
    top: 85%;
    color: #ffffff;
    padding-left: 3%;
  }
  .title_center {
    font-size: 46px;
  }
  .title_center_second {
    font-size: 38px;
    top: 62%;
  }
  .map {
    display: flex;
    position: absolute;
    top: 62%;
    left: 57%;
  }
  #big {
    width: 430px;
  }
  .text__center {
    top: 68%;
    left: 3%;
  }
  .text__center_first {
    font-size: 22px;
    margin-bottom: 2%;
  }
  .text__center_second {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .centerPage {
    width: 100%;
    height: fit-content;
  }
  .main_img_center {
    width: 1024px;
    height: 800px;
  }
  .h3_center {
    font-size: 50px;
  }
  .h6_center {
    font-size: 14px;
    left: 25%;
    top: 10%;
  }
  .tours {
    left: 70%;
    top: 10%;
  }
  .line9 {
    top: 14%;
    left: 65%;
  }
  .cards_center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 22%;
  }

  .img_cards_center {
    width: 200px;
  }
  .imgLine_center {
    width: 200px;
  }
  .p_cards_center {
    padding-left: 5%;
    font-size: 14px;
  }
  .p__cards_center {
    top: 85%;
    color: #ffffff;
    padding-left: 3%;
  }
  .title_center {
    font-size: 46px;
  }
  .title_center_second {
    font-size: 38px;
    top: 62%;
  }
  .map {
    display: flex;
    position: absolute;
    top: 62%;
    left: 57%;
  }
  #big {
    width: 430px;
  }
  .text__center {
    top: 68%;
    left: 3%;
  }
  .text__center_first {
    font-size: 22px;
    margin-bottom: 2%;
  }
  .text__center_second {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .main_img_center {
    width: 768px;
    height: 800px;
  }
  .h3_center {
    font-size: 50px;
  }
  .h6_center {
    font-size: 12px;
    left: 30%;
    top: 10%;
  }
  .tours {
    left: 70%;
    top: 10%;
    font-size: 16px;
  }
  .line9 {
    top: 14%;
    left: 65%;
    width: 260px;
  }
  .cards_center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 26%;
  }

  .img_cards_center {
    width: 150px;
  }
  .imgLine_center {
    width: 150px;
  }
  .p_cards_center {
    align-items: center;
    font-size: 14px;
  }
  .p__cards_center {
    position: absolute;
    top: 85%;
    color: #ffffff;
    padding-left: 1%;
    font-size: 14px;
  }
  .title_center {
    font-size: 44px;
  }
  .title_center_second {
    font-size: 36px;
    top: 62%;
  }
  .map {
    display: none;
  }
  .text__center {
    top: 68%;
    left: 3%;
  }
  .text__center_first {
    font-size: 22px;
    margin-bottom: 2%;
  }
  .text__center_second {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .main_img_center {
    width: 425px;
    height: 1489px;
  }
  .h3_center {
    font-size: 34px;
    /* margin-top: 31px; */
    top: 2%;
  }
  .h6_center {
    font-size: 14px;
    left: 5%;
    top: 6%;
    /* margin-top: 8px; */
  }
  .tours {
    left: 70%;
    top: 14%;
    font-size: 14px;
    justify-content: space-between;
    width: 115px;
  }
  .line9 {
    top: 16%;
    left: 52%;
    width: 197px;
  }
  .cards_center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 18%;
  }
  .img_cards_center {
    width: 180px;
    margin-bottom: 5px;
  }
  .imgLine_center {
    display: none;
  }
  #skazka {
    top: 35%;
    left: 9%;
  }
  #ik {
    top: 35%;
    left: 58%;
  }
  #karakol {
    top: 86%;
    left: 12%;
  }
  .p_cards_center {
    align-items: center;
    font-size: 16px;
  }
  .p__cards_center {
    position: absolute;
    top: 86%;
    color: #ffffff;
    padding-left: 4%;
    font-size: 16px;
  }
  .title_center {
    font-size: 32px;
    top: 52%;
    left: 10%;
  }
  .title_center_second {
    font-size: 36px;
    top: 55%;
    left: 10%;
  }
  .map {
    display: flex;
    position: absolute;
    top: 80%;
    left: 3%;
  }
  #big {
    width: 400px;
  }
  #small {
    width: 100px;
    position: absolute;
    top: 16%;
    left: 64%;
  }
  .text__center {
    top: 59%;
    left: 3%;
    width: 200px;
  }
  .text__center_first {
    font-size: 18px;
    margin-bottom: 2%;
    width: 303px;
  }
  .text__center_second {
    font-size: 18px;
    width: 320px;
  }
}
@media (max-width: 375px) {
  .main_img_center {
    width: 375px;
    height: 1489px;
  }
  .h3_center {
    font-size: 32px;
    /* margin-top: 31px; */
    top: 2%;
  }
  .h6_center {
    font-size: 12px;
    left: 5%;
    top: 6%;
    /* margin-top: 8px; */
  }
  .tours {
    left: 65%;
    top: 13%;
    font-size: 14px;
    justify-content: space-between;
    width: 115px;
  }
  .line9 {
    top: 15%;
    /* left: -65%; */
    left: 44%;
    width: 197px;
  }
  .cards_center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 18%;
  }
  .img_cards_center {
    width: 170px;
    margin-bottom: 5px;
  }
  .imgLine_center {
    display: none;
  }
  #skazka {
    top: 35%;
    left: 9%;
  }
  #ik {
    top: 35%;
    left: 58%;
  }
  #karakol {
    top: 86%;
    left: 12%;
  }
  .p_cards_center {
    align-items: center;
    font-size: 16px;
  }
  .p__cards_center {
    position: absolute;
    top: 86%;
    color: #ffffff;
    padding-left: 4%;
    font-size: 16px;
  }
  .title_center {
    font-size: 28px;
    top: 52%;
    left: 3%;
  }
  .title_center_second {
    font-size: 32px;
    top: 55%;
    left: 3%;
  }
  .map {
    display: flex;
    position: absolute;
    top: 80%;
    left: 6%;
  }
  #big {
    width: 320px;
  }
  #small {
    width: 80px;
    position: absolute;
    top: 16%;
    left: 64%;
  }
  .text__center {
    top: 59%;
    left: 3%;
    width: 200px;
  }
  .text__center_first {
    font-size: 16px;
    margin-bottom: 2%;
    width: 303px;
  }
  .text__center_second {
    font-size: 16px;
    width: 320px;
  }
}
@media (max-width: 320px) {
  .main_img_center {
    width: 320px;
    height: 1493px;
  }
  .h3_center {
    font-size: 32px;
    /* margin-top: 31px; */
    top: 2%;
  }
  .h6_center {
    font-size: 12px;
    left: 5%;
    top: 5%;
    /* margin-top: 8px; */
  }
  .tours {
    left: 60%;
    top: 12%;
    font-size: 14px;
    justify-content: space-between;
    width: 115px;
  }
  .line9 {
    top: 14%;
    left: 38%;
    width: 197px;
  }
  .cards_center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 15%;
  }
  .img_cards_center {
    width: 165px;
    margin-bottom: 5px;
  }
  .imgLine_center {
    display: none;
  }
  #skazka {
    top: 20%;
    left: 29%;
  }
  #ik {
    top: 45%;
    left: 29%;
  }
  #karakol {
    top: 70%;
    left: 36%;
  }
  .p_cards_center {
    align-items: center;
    font-size: 14px;
  }
  .p__cards_center {
    position: absolute;
    top: 95%;
    color: #ffffff;
    padding-left: 4%;
    font-size: 14px;
  }
  .title_center {
    font-size: 26px;
    top: 74%;
    left: 3%;
  }
  .title_center_second {
    font-size: 28px;
    top: 76%;
    left: 3%;
  }
  .map {
    display: none;
  }
  .text__center {
    top: 79%;
    left: 3%;
    width: 200px;
  }
  .text__center_first {
    font-size: 14px;
    margin-bottom: 2%;
    width: 303px;
  }
  .text__center_second {
    font-size: 15px;
    width: 310px;
  }
}

/* ! comments */
.comments {
  padding: 80px 0 140px;
  background: #fff;
}

.comments__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.57);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 11px;
}

.comments__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 56px;
}

.comments__slider {
  padding: 30px 30px 1px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(54, 42, 42, 0.44);
}

.comments__right {
  padding: 20px 115px 70px 150px;
}

.comments__btn {
  width: 253px;
  height: 81px;
  border-radius: 50%;
  background: #69725d;
  border: none;
  cursor: pointer;
  margin-left: -40px;
}

.comments__row {
  display: flex;
  align-items: center;
}

.comments__right-cool {
  margin: 20px 0 8px;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.comments__right-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 8px;
}

.comments__right-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.43);
}

.comments__image {
  width: 300px;
  height: 300px;
}
